[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-migrate = "*"
pymysql = "*"
cryptography = "*"
flask = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
mock = "*"

[requires]
python_version = "3.8"
